-extends "bootstrap3.html"
-load admin2

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  .container
    %h2 All-in-one page about the current group order
    %hr

    %h3 Stats
    %hr

    %ul
      %li Number of orders:
        =orders.count

      %li Total estimated price:
        =total_estimated_price
        €

      %li Total real price:
        =total_real_price
        €

      %li New vpn subscription:
        =new_vpn_subscription

      %li Number or ordered components:
        -componentorder_sum components orders

    %h3 Group order Status
    %hr

    .row
      .col-md-6
        %h4 Member has payed
        %ul
          -for order in orders
            -if order.has_payed
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}
                \-
                €
                =order.price_payed

        %p Total: €
          -total_payed orders

        %p Sum of what members has add on top of the minimum free price: €
          -total_addition_from_free_price orders

      .col-md-6
        %h4 Member hasn't payed
        %ul
          -for order in orders
            -if not order.has_payed
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}
                \-
                =order.email

        %p
          Emails in one line: {% for order in orders %}{% if not order.has_payed %}{{ order.email }}, {% endif %}{% endfor %}

    %h3 Number of ordered components
    %hr

    .row
      .col-md-6
        .well
          %h4 By pack

          -regroup components|dictsortreversed:"in_default_pack" by in_default_pack as in_pack

          -for pack in in_pack
            -if pack.grouper
              %p
                %b Components in the default pack:
            -else
              %p
                %b Other components:

            %ul
              -for component in pack.list
                %li- count_in_current_group_order component orders
                  x
                  =component.display_with_url|safe
                  for €
                  -prices_in_current_group_order component orders

      .col-md-6
        .well
          %h4 By provider

          -regroup components|dictsort:"provider" by provider as providers

          -for provider in providers
            %p
              %b= provider.grouper

            %ul
              -for component in provider.list
                %li- count_in_current_group_order component orders
                  x
                  =component.display_with_url|safe
                  for €
                  -prices_in_current_group_order component orders

            %p{style: "padding-left: 12px"} Total:
              -componentorder_sum provider.list orders

          %p Grand total:
            -componentorder_sum components orders

    %h3 Show who order from where
      %small to split shipment cost
    %hr

    .row
      -for provider_order in provider_order_list
        .col-md-4
          %p
            %b= provider_order.provider

          %ul
            -for order in provider_order.orders
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}


          %p{style: "padding-left: 12px"} Total:
            =provider_order.orders.count


    .row
      .col-md-6
        %h3 New vpn subscriptions
        %hr

        %ul
          -for order in orders
            -if order.wants_vpn
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}

        %p Total:
          =new_vpn_subscription

      .col-md-6
        %h3 Users that wants to configure everything by themselves
        %hr

        %ul
          -for order in orders
            -if order.wants_to_install_everything_himself
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}

    %h3 Domains members wants us to register
    %hr

    %ul
      -for order in orders
        -if order.domain_name
          %li
            =order.domain_name
            for
              -if order.nick
                {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
              -else
                {{ order.first_name }} {{ order.last_name }}
              \-
              =order.email
            -if order.wants_neutrinet_to_renew_the_domain
              %b
                and he wants us to handle the renewing of his domain


    %h3 Comments
      %small made by members on their order
    %hr

    -for order in orders
      -if order.comment
        %p
          %b Comment from
            -if order.nick
              {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
            -else
              {{ order.first_name }} {{ order.last_name }}
            \-
            =order.email
        %pre= order.comment

    %h3 Emails

    -for order in orders
      %pre
        To: {{ order.email }}
        Cc: cube@neutrinet.be
        Subject: [Neutrinet/Cube] Confirmation and payment information for your internetcu.be order #{{ order.id }}

        Hello {% if order.nick %}{{ order.nick }}{% else %}{{ order.first_name }}{% endif %},

        Good news, we are happy to confirm the order you have made
        for https://cube.neutrinet.be! \o/

        Now that the group order is finished, we can calculate the cost, it
        should approximate the estimated price.

        Because we cannot pay for everyone in advance, we would like to ask you
        to pay for your order now. Know that we will only be able to place
        orders for which we have received payment.

        As a reminder, you are free to consider how much this service is worth
        and if you would like to pay for it (we only ask you to pay the
        hardware cost).  This service includes the order management, your cube
        configuration and everything around that makes it possible. Anything
        above the fixed price is greatly appreciated and directly contributes
        to what Neutrinet will be able to do :)

        Here are the bank transfer details:

        Bank: RecordBank
        Name: Neutrinet ASBL
        IBAN: BE52 6528 3497 8409
        BIC: HBKABE22

        Wire transfer note: cube ordering #{{ order.id }}
        Amount: a minimum of € {{ order.real_price }}

        We kindly ask to you to pay before June 18, we hope to place the orders
        in the following week. If you are unable to pay the amount by this
        date, please inform us as soon as possible by replying to this email.

        As for the details of the minimum cost, the only shipping cost we have
        is € 25 from Olimex, the other merchants offer free shipping. This
        shipping cost is split by the number of orders (20) across everyone,
        making it € 1.25 per order.

        Here are the items you ordered:
        {% for componentorder in order.componentorder_set.all %}
        * {{ componentorder.number }} x {{ componentorder.component }}{% mail_space componentorder.component %}{{ componentorder.number }} x {{ componentorder.price }} = € {{ componentorder.total_price }}{% endfor %}
        * 1 x Shipment from Olimex{% mail_space 'shipment from olimex' %}1 x 1.25 = € 1.25

        Total: € {{ order.real_price }}
        {% if order.wants_vpn %}
        As you have included a VPN subscription, which runs at 8 euro per
        month, you will need to create a recurring payment as soon as you
        receive your Cube, or sooner. Remember that we will be able to increase
        our VPN service quality when we will reach 30 subscriptions. So the
        sooner, the better, right? :){% else %}
        You have indicated that you will not need a VPN subscription along with
        your Cube. However, if this is not the case already and if you want,
        you can become a member of Neutrinet, and adding the membership fee
        (€ 25) to your payment and informing us of this awesome decision in
        your reply email :){% endif %}

        It would be great if you can answer this email once you have made the
        bank transfer. A simple "Paid!" will do :)

        Do not hesitate to contact us if you have any questions.

        Thanks for your trust and support,

        <3
