-extends "bootstrap3.html"
-load admin2

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  .container
    %h2 All-in-one page about the current group order
    %hr

    %p
      %b
        For now, orders are filtered on the field 'member_has_been_give_order', this will probably change in the futur.

    %h3 Stats
    %hr

    %ul
      %li Number of orders:
        =orders.count

      %li Total estimated price:
        =total_estimated_price
        €

      %li New vpn subscription:
        =new_vpn_subscription

      %li Number or ordered components:
        -componentorder_sum components

    %h3 Number of ordered components
    %hr

    .row
      .col-md-6
        .well
          %h4 By pack

          -regroup components|dictsortreversed:"in_default_pack" by in_default_pack as in_pack

          -for pack in in_pack
            -if pack.grouper
              %p
                %b Components in the default pack:
            -else
              %p
                %b Other components:

            %ul
              -for component in pack.list
                %li= component.count_in_current_group_order
                  x
                  =component.display_with_url|safe
                  for €
                  -if component.prices_in_current_group_order|length == 1
                    -for price in component.prices_in_current_group_order
                      =price
                  -else
                    =component.prices_in_current_group_order

      .col-md-6
        .well
          %h4 By provider

          -regroup components|dictsort:"provider" by provider as providers

          -for provider in providers
            %p
              %b= provider.grouper

            %ul
              -for component in provider.list
                %li= component.count_in_current_group_order
                  x
                  =component.display_with_url|safe
                  for €
                  -if component.prices_in_current_group_order|length == 1
                    -for price in component.prices_in_current_group_order
                      =price
                  -else
                    =component.prices_in_current_group_order

            %p{style: "padding-left: 12px"} Total:
              -componentorder_sum provider.list

          %p Grand total:
            -componentorder_sum components

    %h3 Show who order from where
      %small to split shipment cost
    %hr

    .row
      -for provider_order in provider_order_list
        .col-md-4
          %p
            %b= provider_order.provider

          %ul
            -for order in provider_order.orders
              %li
                %a{href: "/admin/ordering/order/{{ order.id }}/"}
                  -if order.nick
                    {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
                  -else
                    {{ order.first_name }} {{ order.last_name }}


          %p{style: "padding-left: 12px"} Total:
            =provider_order.orders.count


    %h3 New vpn subscriptions
    %hr

    %ul
      -for order in orders
        -if order.wants_vpn
          %li
            %a{href: "/admin/ordering/order/{{ order.id }}/"}
              -if order.nick
                {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
              -else
                {{ order.first_name }} {{ order.last_name }}

    %p Total:
      =new_vpn_subscription

    %h3 Domains members wants us to register
    %hr

    %ul
    -for order in orders
      -if order.domain
        %li
          =order.domain
          for
            -if order.nick
              {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
            -else
              {{ order.first_name }} {{ order.last_name }}
            \-
            =order.email
          -if order.wants_neutrinet_to_renew_the_domain
            %b
              and he wants us to handle the renewing of his domain


    %h3 Comments
      %small made by members on their order
    %hr

    -for order in orders
      -if order.comment
        %p
          %b Comment from
            -if order.nick
              {{ order.nick }} ({{ order.first_name }} {{ order.last_name }})
            -else
              {{ order.first_name }} {{ order.last_name }}
            \-
            =order.email
        %pre= order.comment

    %h3 Emails

    -for order in orders
      %pre
        To: {{ order.email }}
        Cc: cube@worlddomination.be
        Subject: [Neutrinet/Cube] confirmation and payment information for your order #{{ order.id }} at https://cube.neutrinet.be

        Hello {% if order.nick %}{{ order.nick }}{% else %}{{ order.first_name }}{% endif %},

        Good news, we are happy at Neutrinet to confirm the order you've made
        at https://cube.neutrinet.be \o/

        Now that the order is closed, we were able to calculate the cost, it
        shouldn't be very far away from the estimated price.

        Because the total cost of the group order is way higher than our
        current treasury we need to ask you to paid before being able to do it.

        As a reminder, you are free to consider how much this service is worth
        and how much you want and are able to pay for it (with only ask you a
        minimum of the hardware cost). This service include the order
        management, the cube configuration and everything around it that make
        it possible. Anything above the minimum will be greatly appreciate and
        will directly contribute to what Neutrinet will be able to do :)

        Here are the bank transfer informations:

        Bank: RecordBank
        Name: Neutrinet ASBL
        IBAN: BE52 6528 3497 8409
        BIC: HBKABE22

        Communication: cube ordering #{{ order.id }}
        Amount: a minimum of {{ order.real_price }} €

        As for the details of the minimum cost, the only shipment cost we have
        are 25€ from olimex, the other providers offer free shipping. This
        shipment cost is split by the number of orders (20) across everyone.
        This represent 1.25€ per order.

        And for the other details, here are you order and the final price next
        to each component:

        {% for componentorder in order.componentorder_set.all %}
        * {{ componentorder.number }} x {{ componentorder.component }}{% mail_space componentorder.component %}{{ componentorder.number }} x {{ componentorder.price }} = {{ componentorder.total_price }} €{% endfor %}
        * 1 x shipment for olimex{% mail_space 'shipment for olimex' %}1 x 1.25 = 1.25 €

        Total: {{ order.real_price }} €

        Since the total order depends on the payment of everyone, it would be
        great if you could pay as soon as possible.

        Thanks for your trust and everything else,

        <3
