-extends "bootstrap3.html"

-block bootstrap3_title
  Neutrinet Cube Group Order Form Second Admin Interface

-block bootstrap3_content
  .container
    %h2 Neutrinet Cube Group Order Form Second Admin Interface
    %hr

    %p
      %i
        Because modifying the django admin interface sucks.

    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            Group Orders

          .panel-body

              -for group_order in group_orders
                %li
                  %a{href: "{% url 'admin2_group_order_detail' group_order.pk %}"}= group_order.name

      .col-md-6
        .panel.panel-default
          .panel-heading
            Default components

          %table.table.table-bordered
            %colgroup
              %col
              %col{width: "10px"}
              %col{width: "10px"}
            %tr
              %th Name
              %th Stock
              %th Price
            -for component in components
              -if component.in_default_pack
                %tr
                  %td
                    %a{href: "{{ component.url }}"}= component.reference
                    %i= component.full_name
                  %td= component.stock
                  %td= component.current_price


        .panel.panel-default
          .panel-heading
            Other components

          %table.table.table-bordered
            %colgroup
              %col
              %col{width: "10px"}
              %col{width: "10px"}
            %tr
              %th Name
              %th Stock
              %th Price
            -for component in components
              -if not component.in_default_pack
                %tr
                  %td
                    %a{href: "{{ component.url }}"}= component.reference
                    %i= component.full_name
                  %td= component.stock
                  %td= component.current_price
